# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
app.json

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo



# Google Services # Apple Sign In private key
GoogleService-Info.plist
google-services.json

# Android release key
instalingo-release-key.keystore

# cursorrules
.cursorrules

# jest
jest.config.js
tsconfig.jest.json
jest.setup.js

# jest coverage
coverage/
